@import url(all.css);
@import url(bootstrap.css);

@font-face {
    font-family: "Birthstone";
    src: url("../webfonts/Birthstone-Regular.ttf");
}

@font-face {
    font-family: "Ephesis", cursive;
    src: url("../webfonts/Ephesis-Regular.ttf");
}

nav{
	padding: 10px;
    background-color: #bfd1d7;
    background-color: #ffeec4;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
}

.logo{
    vertical-align: top;
}

li[class^="nav"]{
	margin-right: 15px;
	padding: 0;
	width: auto;
}

li a[class^="nav"]{
	padding: 8px;
	padding-right: 18px;
	width: 100%;
	height: 100%;
    color: white;
}

li a[class^="nav"]:hover{
	text-decoration: none;
	color: #3b6a7a !important;
	border-radius: 5px;
	background-color: var(--v1);
}

.navbar-brand{
	margin-left: 0;
}

.navbar-toggler{
    margin-right: 15px;
}

.fixed-top{
	position: fixed;
	top: 0;
}

.fixed-theme{
	transition: 0.8s;
}

.container-fluid{
	width: auto;
	margin-right: 0;
}

.tira{
	background-color: #6e77a2;
    background-color: #3b6a7a;
	font-size: 2rem;
	text-align: center;
	color: white;
	letter-spacing: 10px;
	word-spacing: 10px;
    font-family: "Birthstone";
}

.mt1{
    margin-top: 146px;
}

.mt2{
    margin-top: 93px;
}

footer{
	margin-top: 30px;
    padding: 10px;
    background-color: #eec396;
    text-align: center;
}

.text-justify{
	text-align: justify;
}

.card-dec-1{
	background-color: #ffeec4;
	box-shadow: 2px 2px 2px #eec396;
	transition: all 0.25s;
}

.card-dec-2{
	background-color: #bfd1d7;
	box-shadow: 2px 2px 2px #608795;
	transition: all 0.25s;
}

.card-dec-3{
	background-color: #ffcec4;
	box-shadow: 2px 2px 2px #eea496;
	transition: all 0.25s;
}

.card-dec-1:hover, .card-dec-2:hover, .card-dec-3:hover{
	transform: translateY(-5px);
	box-shadow: 0 12px 16px #3b6a7a;
}

.row{
	margin-right: 0;
}

.list-group-item{
	background-color: inherit;
}

.card img{
	width: 120px;
}

.card-persona{
	width: 250px;
}

.titulo{
	color: #3b6a7a;
	border-bottom: 2px solid #608795;
	border-radius: 5px;
}

.form-gris{
	background-color: #d5d5d5;
}

.form-gris:focus{
	background-color: #d5d5d5;
	border-color: #3b6a7a;
	box-shadow: 0 0 0 0.25rem rgba(200, 227, 209, 0.85);
}

.form-gris:focus{
	background-color: #d5d5d5;
	box-shadow: 0 0 0 0.25rem rgba(200, 227, 209, 0.85);
}

.btn-enviar{
	padding: 5px auto;
	background-color: #6eae84;
	color: #ecf5ef;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.btn-enviar:hover{
	background-color: rgba(110, 174, 132, 0.85);
	border-color: #428f5c;
}

.form-check-1:focus{
	border-color: rgb(70, 81, 133);
	box-shadow: 0 0 0 0.25rem rgba(70, 81, 133, 0.50);
}

.form-check-1:checked{
	background-color: #6e77a2;
	border-color: #465185;
}

#verificacion{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 100000;
}

.notif{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eec396;
}

.btn-conf{
	padding: 5px auto;
	background-color: #6e77a2;
	color: #c6cbdd;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
}

.btn-conf:hover{
	background-color: rgba(110, 119, 162, 0.85);
	border-color: #465185;
}