<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- LOCAL -->
    <!-- <base href="/newcar/"> -->
    <!-- SISTEMA -->
    <base href="https://newcarsistema.azurewebsites.net/">
    <!-- <base href="https://moodlegutt.azurewebsites.net/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="res/css/style.css">
    <title>New Car</title>
</head>

<body>